<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>uikit测试</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'common/css/uikit.min.css'%}"/>
<script type="text/javascript" src="{% static 'common/js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'common/js/uikit.min.js'%}"></script>
<script type="text/javascript" src="{% static 'common/js/components/parallax.js'%}"></script>

</head>
<body>


  <header class="header" >

      <div class="header-inner"  data-uk-parallax="{apacity:0, rotate:'-10,10' viewport:0.5}">
           <h1>A world covered in mist</h1>
           <h2>Some awesome sublite to go along</h2>
      </div>

  </header>

   <div style="height: 200vh">

   </div>


    <div class="uk-container uk-container-center uk-margin-top">

        <div class="uk-panel uk-panel-box uk-text-center">
            <h1>hello zhangcheng </h1>
            <p>lorm ipsum dolor adadad   adasd   asdadad   asdasd  dadsa dad dad  ada sd ad
            dsaasdasd sadasdad  d daddad lorm ipsumlorm ipsumlorm ipsumlorm ipsum
            </p>
            <a href="" class="uk-button uk-button-primary">buy the universe mow</a>

        </div>


    </div>


</body>
</html>

















